.spinningContainer{
    box-sizing: border-box;
    padding: 50px;
    /* border: 1px solid brown; */
}
.btn{
    box-sizing: border-box;
    padding : 10px;
}

.FileLoader:before{
    /* margin-bottom: -8px; */
    display: inline-block;
    content: "\2713";
    color: transparent;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    border-radius: 52%; 
    border: 2px solid transparent;
    border-top-color: coral;
    border-right-color: coral;
    border-bottom-color: transparent;   
    animation: spin 0.7s linear infinite; 
}
.complete:before{
    /* margin-bottom: -8px; */
    display: inline-block;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid green;
    font-weight: bolder;
    color: green;
    content:"\2713";
    animation : end 0.8s ease-in-out;
    
}
.wrong:before{
    display: inline-block;
    box-sizing: border-box;
    font-size: 140%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid rgba(255, 0, 0, 0.5);
    font-weight: bolder;
    color: rgba(255, 0, 0, 0.5);
    content:"\00d7";
    animation : endWrong 0.8s ease-in-out;
}

@keyframes spin{
   
   to{
   
    transform: rotate(360deg)

   }
}
@keyframes end{
    0%{
        color: transparent;
        border: 2px solid transparent;
        border-top-color: coral;
        border-right-color: coral;
        border-bottom-color: transparent;   
        transform: rotate(300deg)
    }
    35%{
        color: transparent;
        border: 2px solid transparent;
        border-top-color: green;
        border-right-color: green;
        border-bottom-color: green;   
        transform: rotate(600deg)

    }
    50%{
        color: transparent;
        border: 2px solid green;
          
        transform: rotate(680deg)
    }
    100%{
        border: 2px solid green;
        color: green;
        content:"\2713";
        transform: rotate(720deg)
    }
}
@keyframes endWrong{
    0%{
        color: transparent;
        border: 2px solid transparent;
        border-top-color: coral;
        border-right-color: coral;
        border-bottom-color: transparent;   
        transform: rotate(300deg)
    }
    35%{
        color: transparent;
        border: 2px solid transparent;
        border-top-color: rgba(255, 0, 0, 0.5);
        border-right-color: rgba(255, 0, 0, 0.5);
        border-bottom-color: rgba(255, 0, 0, 0.5);   
        transform: rotate(600deg)

    }
    50%{
        color: transparent;
        border: 2px solid rgba(255, 0, 0, 0.5);
          
        transform: rotate(680deg)
    }
    100%{
        border: 2px solid rgba(255, 0, 0, 0.5);
        color: rgba(255, 0, 0, 0.5);
        content:"\00d7";
        transform: rotate(720deg)
    }
}


